html {
    background: lightcyan;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background:#E9F1DF;
	color: #191970;
	padding: 10px;
	border:#cf7a37 solid 3px;
	align-items: center;
	text-align: center;
  }
a {
	color: #191970;
}

form {
  background-color: ivory;
  border:#191970 solid 1px;

}
